/*
 * Put this into ~/.mozilla/firefox/<profile folder>/chrome/userContent.css
 *
 * Get to know your profile folder name from about:profiles
 */

@-moz-document url-prefix("about:reader") {
    html {
        scrollbar-width: none;
    }

    body.dark {
        color: gray !important;
        background-color: #000 !important;
    }

    .toolbar {
        background: #000 !important;
        border: none !important;
        filter: brightness(.2);
        margin-left: -14px !important;
    }

    a.domain {
        border: none !important;
    }

    hr {
        display: none;
    }
}
